html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#jFight {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

#jFight .spaceship {
    position: absolute;
    top: 0;
    left: 0;

    --view-distance: 200px;
    --spaceship-size: 20px;
    --colour: #FFFFFF;
}

#jFight .spaceship::before {
    content: "";
    position: absolute;
    width: calc(var(--spaceship-size));
    height: calc(var(--spaceship-size));
    left: calc(-0.5*var(--spaceship-size));
    top: calc(-0.5*var(--spaceship-size));

    border: solid thin var(--colour);
    border-radius: 50%;
    opacity: 0.3;
}

#jFight .spaceship::after {
    content: "";
    position: absolute;
    width: calc(2*var(--view-distance));
    height: calc(2*var(--view-distance));
    left: calc(-1*var(--view-distance));
    top: calc(-1*var(--view-distance));

    border: solid thin var(--colour);
    border-radius: 50%;
    opacity: 0.3;
}

#jFight .spaceship .sprite {
    position: absolute;

    background-color: #FFF;
    background-image: url("assets/spaceship.svg");
    background-size: cover;
    background-blend-mode: multiply;
    mask-image: url("assets/spaceship.svg");
    -webkit-mask-image: url("assets/spaceship.svg");
    mask-size: 100% 100%;
    -webkit-mask-size: cover;
}

#jFight .spaceship.fade {
    animation: fade 0.5s linear forwards;
}

#jFight .particle-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    --fly-rotation: 0deg;
    --fly-x: 100px;
    --fly-y: 100px;
    animation: fly 1s linear forwards;
}

#jFight .particle {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 0;
    right: 0;
    background-color: white;

    --fly-rotation: 0deg;
    --fly-x: 100px;
    --fly-y: 100px;
    animation: fly 1s linear forwards;
}

@keyframes fly {
    0%   {
        transform:  translateX(0px)  translateY(0px) rotate(var(--fly-rotation));
        opacity: 1;
    }
    100% {
        transform: translateX(var(--fly-x)) translateY(var(--fly-y)) rotate(var(--fly-rotation));
        opacity: 0;
    }
}

@keyframes fade {
    0%   {opacity: 0.3;}
    100% {
        opacity: 0;
        display: none;
    }
}

#jFight .bullet {
    width: 2px;
    height: 5px;
    background-color: white;
    position: absolute;
}